#backdrop {
  -fx-background-color: #313842;
  -fx-min-width: 1024;
  -fx-min-height: 768;
}

.right {
  -fx-padding: 6;
  -fx-alignment: top-center;
}

#menubar {
  -fx-background-color: #000000;
  -fx-min-width: 1024;
  -fx-min-height: 30;
  -fx-max-height: 30;
}

#move-panel {
  -fx-background-color: #5b6678;
  -fx-background-radius: 4;
  -fx-padding: 6;
  -fx-spacing: 10;
  -fx-alignment: center;
}

.move-pane {
  -fx-background-color: 
    rgba(0,0,0,0.3), 
    rgba(255,255,255,0.5), 
    #f3f3f3;
  -fx-background-insets: 0 2 2 0, 2 0 0 2, 2;
  -fx-background-radius: 4;
  -fx-border-radius: 4;
  -fx-padding: 12 10 6 10;
  -fx-alignment: center;
}

#contact-map {
  -fx-alignment: center;
  -fx-border-color: #222222;
  -fx-border-width: 1;
}

.score-label {
  -fx-font-family: sans-serif;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-padding: 8 0 4 0;
  -fx-alignment: center;
}

.move-label {
  -fx-font-family: sans-serif;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-padding: 12;
}

.info-hbox {
  -fx-padding: 4 10 4 10;
  -fx-alignment: center-left;
}

.acid-label {
  -fx-font-family: sans-serif;
  -fx-font-size: 16;
}

.separator {
  -fx-padding: 10;
  -fx-max-height: 2;
  -fx-background-radius: 2;
}

.move-hbox {
  -fx-alignment: center;
}

.slider {
  -fx-min-width: 200;
}

.slider .track {
  -fx-background-color: linear-gradient(#4b4b4b, #bdbdbd);
}

#statusbar {
  -fx-background-color: linear-gradient(#e9e9e9, #b6b6b6);
  -fx-min-width: 1024;
  -fx-min-height: 24;
  -fx-max-height: 24;
}

.menu:hover, .menu:showing {
  -fx-background-color: #2f343d;
}

.menu .label {
  -fx-text-fill: white;
}

.menu-item:hover, .menu-item:focused {
  -fx-background-color: #dddddd;
}

.menu-item .label {
  -fx-text-fill: black;
}

#toolbar {
  -fx-background-color: #4c5562;
  -fx-padding: 6;
  -fx-min-width: 1024;
  -fx-min-height: 40;
  -fx-max-height: 40;
  -fx-spacing: 10;
  -fx-alignment: center-left;
}

.osx-button {
  -fx-background-color:
    rgba(0,0,0,0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-padding: 3 15 3 15;
  -fx-text-fill: black;
  -fx-font-family: sans-serif;
  -fx-font-size: 14;
}

.osx-button:pressed {
  -fx-background-color:
    rgba(0,0,0,0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-padding: 3 15 3 15;
  -fx-text-fill: black;
  -fx-font-family: sans-serif;
  -fx-font-size: 14;
  -fx-scale-x: 0.99;
  -fx-scale-y: 0.99;
}

.osx-button:selected {
  -fx-background-color:
    rgba(0,0,0,0.08),
    linear-gradient(#909090, #3f4754),
    linear-gradient(#b4f1b9 0%, #99c794 50%, #5e7f5e 100%);
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-padding: 3 15 3 15;
  -fx-text-fill: black;
  -fx-font-family: sans-serif;
  -fx-font-size: 14;
}

.progress-bar {
  -fx-accent: black;
  -fx-box-border: black;
  -fx-alignment:right;
}

